/* the basics */
body {
  font-family: Helvetica;
  margin: 0;
}

.container {
  display: flex;
}





/* header section */
.header {
  justify-content: space-between;
  height: 64px;
  align-content: center;
}

.logo {
  align-content: center;
  padding-left: 24px;
}

.logo img {
  height: 60px;
}

.logo-title {
  align-content: center;
  height: 16px;
  padding-top: 22px;
}

.logo-title span {

}

nav {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-right: 16px;
}

nav span {
  padding-left: 16px;
  padding-top: 22px;
}



/* main header section */
.main-header {
  display: flex;
  background-color: lightgrey;
}

.header-image {
  max-width: 60%;
  display: block;
  padding: 32px 24px 32px 24px;
}

.header-image img {
  width: 100%;
  height: auto;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
  max-width: 40%;
  padding-left: 16px;
}

.header-info h3 {
  background-color: darkgray;
  width: 80%;
  text-align: center;
  color: white;
  padding: 8px 0;
}



/* practicing section */
.left {
  flex-direction: column;
  max-width: 60%;
  margin-left: 24px;
}

.practice {
  margin: 16px 0 32px 0;
}

.man-image {
  width: 100%;
  display: block;
  margin: 16px 24px 32px 0;
  padding-right: 24px;
}

.man-image img {
  width: 100%;
  height: auto;
}

.man-info {
  flex-direction: column;
  padding: 0 24px 0 0;
}

.man-info span {

}

.sidebar {
  flex-direction: column;
  max-width: 423px;
  margin-left: 24px;
}

.sidebar-box {
  display: flex;
  padding: 16px;
}

.box-image {
  width: 35%;
}

.sidebar img {
  width: 100%;
  height: auto;
}

.box-info {
  padding: 0 16px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-info p {
  padding: 8px 0;
  margin: 0;
}

.box-info h2 {
  margin: 0;
}

.box-info a {
  padding: 8px 0;
}



/* start learning section */
.start-learning {
  display: block;
  text-align: center;
  background-color: lightgrey;
  padding-top: 32px;
}


.learning-title {
  text-align: center;
  margin: 0 0 16px 0;
}

.learning-title h1 {
  margin-top: 0;
}

.learning-boxes {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.learning-box {
  width: 28%;
  margin: 16px;
  background-color: white;
  flex-direction: column;
}

.learning-box img {
  width: 100%;
}

.last {
  background-color: lightgrey;
}



/* thesis exhibit section */
.thesis-exhibit {
  flex-direction: column;
}

.thesis-title {
  justify-content: center;
}

.thesis-title h1 {
  margin: 32px 0;
}

.thesis-main {
  flex-direction: column;
  margin: 0 16px 32px 24px;
}

.thesis-main h2 {
  margin: 0;
}

.thesis-video video {
  width: 100%;
  margin-bottom: 24px;
}

.thesis-sidebar {
  flex-direction: column;
}

.thesis-box {
  width: 423px;
  height: 168px;
}

.thesis-image img {
  margin: 16px;
  height: 136px;
}

.thesis-info {
  flex-direction: column;
  justify-content: center;
}



/* footer section */
footer {
  justify-content: space-between;
  padding: 0 24px;
  height: 64px;
}



/* desktop styling cacellation media query*/
@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
}



/* mobile media query */
@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .mobile {
    width: 100%;
  }
  .mobile nav {
    justify-content: space-between;
  }
  .main-header-mobile {
    flex-direction: column;
    width: 100%;
    background-color: #E6E6E6;
  }
  .main-header-mobile img {
    max-width: 100%;
  }
  .header-info-mobile {
    flex-direction: column;
    padding: 0 18px;
    background-color: #E6E6E6;
  }
  .header-info-mobile span {
    justify-content: center;
    display: flex;
  }
  .header-info-mobile h3 {
    justify-content: center;
    background-color: darkgray;
    width: 80%;
    text-align: center;
    color: white;
    padding: 8px 0;
  }
.sidebar {
  margin: 16px 16px 32px 16px;
}
.sidebar-box-mobile {
  flex-direction: column;
}
.box-image-mobile {
  max-width: 100%;
  height: auto;
}
.box-image-mobile img {
  max-width: 100%;
  height: auto;
}
.box-info-mobile {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box-info-mobile p {
  padding: 8px 0;
  margin: 0;
}
.box-info-mobile h2 {
  margin: 0;
}
.box-info-mobile a {
  padding: 8px 0;
}
.start-learning-mobile {
  flex-direction: column;
}
.start-learning-mobile h2 {
  background-color: #E6E6E6;
  color: #424242;
  width: 80%;
  margin: 0 16px 8px 16px;
  padding: 16px;
}
.learning-title-mobile {
  text-align: center;
  margin: 32px 0 16px 0;
}
.thesis-title-mobile {
  justify-content: center;
}
.thesis-video-mobile {
  max-width: 100%;
  height: auto;
}
.thesis-video-mobile video {
  max-width: 100%;
  height: auto;
}

}
